* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}
.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}
.logo-container {
  flex: 1;
}
.logo {
  font-size: 30px;
  color: #bf0a00;
}
.menu-container {
  flex: 6;
}
.menu-list {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.menu-list-item {
  margin-right: 30px;
}
.menu-list-item a {
  color: #fff;
  text-decoration: none;
}
.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
  font-size: 16px;
}
.search-button {
  background-color: #bf0a00;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.search-button:hover {
  background-color: #941212;
}
.profile-text-container {
  margin: 0 20px;
  cursor: pointer;
}
.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  right: 0;
  background-image: linear-gradient(-225deg, #464445 50%, #f23939b2 50%);
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}
.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.toggle-icon {
  color: goldenrod;
}
.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}
.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}
.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: #fff;
}
.content-container {
  margin-left: 50px;
}
.featured-content {
  height: 50vh;
  padding: 50px;
}
.featured-title {
  width: 200px;
}
.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}
.featured-button {
  background-color: #bf0a00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}
.movie-list-container {
  padding: 20px;
}
.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}
.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}
.movie-list-item {
  margin-right: 30px;
  position: relative;
}
.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.7;
}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}
.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}
.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-list-item-button {
  padding: 10px;
  background-color: #bf0a00;
  color: #fff;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgrey;
  opacity: 0.8;
  cursor: pointer;
}
.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

.footer {
  padding: 50px 15%;
  border-top: 6px solid #333;
  color: #fff;
  background-color: #151515;
}
.row {
  display: flex;
}
.footer h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer .col {
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 30px;
}
.footer .col a {
  display: block;
  text-decoration: none;
  color: #bbb;
  font-size: 16px;
  margin-bottom: 15px;
}
.footer .row {
  align-items: center;
  padding: 20px 0;
}
